* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(33, 37, 41);
}
.container {
  background-color: wheat;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}
p {
  text-align: center;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }